<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <title>AI</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Akronim&family=Dosis:wght@200..800&display=swap" rel="stylesheet">

<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github-dark.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
<script>hljs.highlightAll();</script>
</head>

<body>
    <!-- <img src="download (1).png" alt="logo" height="100"> -->
     <span class="logotxt">
        Zakha <span id="aitag">AI</span>
     </span>
    
    <div class="main">
        <div id="botdiv">
        </div>
        <h2 id="heythere">Hey there! What’s on your mind?</h2>
    </div>
    <div class="userinputdiv">
        <input id="input" type="text" placeholder="Ask something" autocomplete="off" autofocus>
        <div class="buttonsdiv">
            <div id="imgadddiv" class="buttons inline">
                <img src="../static/add.png" alt="add" height="28px">
            </div>
            <div id="imgmicdiv" class="buttons inline">
                <img src="../static/microphone.png" alt="mic" height="20px" id="imgmic">
            </div>
            <div id="imgsenddiv" class="inline">
                <img src="../static/send.png" alt="send" height="38px" id="imgsend">
            </div>
        </div>
    </div>
</body>

<script src="../static/script.js"></script>

</html>